{% extends 'BGPGlagoljicaBundle::stranice.html.twig' %}

{% block content %}

    <style>
        #tekst-ulaz, #tekst-izlaz {
            resize: vertical;
        }
    </style>

	<h1>Pretvaranje pisma</h1>

    <div class="row">
        <div class="col-sm-6">

            <div class="form-group">
                Ulaz:<br/>

                <span class="zona-ulazi">
                    <div class="btn-group" data-toggle="buttons">
                        {% for ulaz in ulazi %}
                            <label class="btn btn-default">
                                <input type="radio" id="ulaz-{{ ulaz.id }}" autocomplete="off" checked> {{ ulaz.ime }}
                            </label>
                        {% endfor %}
                    </div>
                </span>
            </div>

            <div class="form-group">
                <label for="tekst-ulaz">Unesite tekst koji želite da pretvorite:</label>
                <textarea id="tekst-ulaz" class="form-control"> </textarea><br/>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                Izlaz:<br/>

                <span id="zona-izlazi">
                    <button class="btn btn-default" disabled>Izaberite tip ulaza sa leve strane</button>
                </span>
            </div>

            <div class="form-group">
                <label for="tekst-izlaz">Rezultat pretvaranja:</label>
                <textarea id="tekst-izlaz" class="form-control"> </textarea><br/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button id="dugme-konverzija" class="btn btn-primary" disabled>Pretvori</button>
        </div>
    </div>

    <br/>

    <div class="alert alert-info" role="alert">
        <b>Napomena:</b> Glagoljica sadrži drugačiji skup slova od moderne ćirilice i latinice, pa postupak
        pretvaranja nije u potpunosti direktan i mogu postojati pojedine nepravilnosti. Ukoliko se razumete
        u glagoljicu, a primetili ste neku grešku u mehanizmu pretvaranja, javite nam se na
        <a href="mailto:kontakt@bgpixel.rs" class="alert-link">kontakt@bgpixel.rs</a>.
    </div>
	
	<script>
        $('.zona-ulazi').find('.btn').click(onKliknutUlaz);
        $('#dugme-konverzija').click(onKliknutoDugmeKonverzija);

        var idUlaza = null;
        var idIzlaza = null;
        var konverzijaUToku = false;

        function onKliknutUlaz() {
            var noviIdUlaza = $(this).find('input').attr('id');
            noviIdUlaza = noviIdUlaza.substring(5);

            if(noviIdUlaza == idUlaza) {
                return;
            } else {
                idUlaza = noviIdUlaza;
                $('#dugme-konverzija').prop( "disabled", true );
                dobaviIzlazeZaUlaz(idUlaza);
            }
        }

        function onKliknutIzlaz(element) {
            idIzlaza = $(element).find('input').attr('id');
            idIzlaza = idIzlaza.substring(6);
            $('#dugme-konverzija').prop( "disabled", false );
        }

        function dobaviIzlazeZaUlaz(idUlaza) {
            $("#zona-izlazi").html('<button class="btn btn-default m-progress">Učitava se...</button>');

            $.get('/dajIzlazeZaUlaz/' + idUlaza)
                .done(function(podaci) {
                    var htmlIzlazi = '<div class="btn-group" data-toggle="buttons">';
                    var izlazi = podaci.izlazi;
                    _.each(izlazi, function(izlaz) {
                        htmlIzlazi +=
                            '<label class="btn btn-default" onclick="onKliknutIzlaz(this);">'
                                + '<input type="radio" id="izlaz-' + izlaz.id + '" autocomplete="off" checked>'
                                    + izlaz.ime
                            + '</label>';
                    });

                    htmlIzlazi += "</div>";

                    $("#zona-izlazi").html(htmlIzlazi);
                    idIzlaza = null;
                });
        }

        function onKliknutoDugmeKonverzija() {
            if(konverzijaUToku) return;

            konverzijaUToku = true;
            var ulaz = $("#tekst-ulaz").val();
            var $dugme = $(this);
            $dugme.addClass('m-progress');

            $.post('/konverzija', {
                ulaz: ulaz,
                tipUlaza: idUlaza,
                tipIzlaza: idIzlaza
            }).always(function(podaci) {
                $dugme.removeClass('m-progress');
                $("#tekst-izlaz").val(podaci.konvertovanTekst);
                konverzijaUToku = false;
            });
        }
	</script>
{% endblock %}