{% extends 'BGPGlagoljicaBundle::stranice.html.twig' %}

{% block content %}
    <h1> O nama </h1>
    <p>Bacon ipsum dolor amet kielbasa venison ham hock spare ribs pancetta bresaola brisket pork loin tri-tip tenderloin shank strip steak picanha pork chop shankle. Kielbasa pig tenderloin rump, shoulder prosciutto chuck pork chop ground round ham hock boudin. Bresaola ground round pastrami, brisket frankfurter fatback meatloaf short ribs pork loin turducken ball tip ham hock tongue. Short ribs andouille bacon kielbasa chicken pork chop turkey. Sirloin shank beef ribs ham tenderloin fatback capicola hamburger tail doner ground round landjaeger pork chop. Sausage pancetta frankfurter hamburger drumstick turducken turkey pork chop ground round filet mignon chicken. Ball tip bresaola short ribs, beef tongue tail shank short loin swine pancetta.</p>
{% endblock %}