services:
    cirlat_konvertor:
        class: BGP\GlagoljicaBundle\Konverzija\CirLatKonvertor
    cirgla_konvertor:
            class: BGP\GlagoljicaBundle\Konverzija\CirGlaKonvertor
    konvertor_menadzer:
        class: BGP\GlagoljicaBundle\Konverzija\KonvertorMenadzer
        calls:
            - [dodajKonvertor, ["@cirlat_konvertor"]]
            - [dodajKonvertor, ["@cirgla_konvertor"]]
    sonata.admin.clanak:
        class: BGP\GlagoljicaBundle\Admin\ClanakAdmin
        tags:
            - name: sonata.admin
              manager_type: orm
              group: "Sadržaji"
              label: "Članci"
        arguments:
            - ~
            - BGP\GlagoljicaBundle\Entity\Clanak
            - ~
        calls:
            - [ setTranslationDomain, [BGPGlagoljicaBundle]]
